body {
    margin: 0;
}

.responsive-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1600px;
    max-height: 450px;
    border: none;
    box-shadow: none;
    outline: none;
}